<div class="modal fade" id="tradeForm" role="dialog">
    <div class="modal-dialog">
       <div id="bookDelete">
<!--            Library-->
            <div class="col1">
                <h3>My Library</h3>
                <div>
                    <label>
                        <input type="checkbox">
                        {{ item.book }}{{ item.author }} 
                    </label>   
                </div>
            </div>    
<!--            Watchlist-->
            <div class="col2">
                <h3>My Watchlist</h3>
                <div>
                    <label>
                        <input type="checkbox">
                        {{ item.book }}{{ item.author }} 
                    </label>   
                </div>
            </div>   
        <button type="submit">
    </div>
</div>