<div id="home">
    <h3 class="unmanagedMatches">Welcome back, <a href="#!/profile"><i>{{user}}</i></a> ! You have {{numberOfMatches}} unmanaged matches.</h3>
    <!-- Column left -->
    <div id="main" class="column1">
      <h2>Popular Books</h2>
      <div id="mainBooks">
        <div id="mainBack"></div>
        <div class="mainBook" ng-repeat="book in popularBooks" ng-click="setSearch(book.title)">
            <img ng-src="{{ book.thumbnail }}"><cite class="mainTitle"><span class="bookTitle">{{ book.title }}</span></cite>
        </div>
      </div>
    </div>

<!--Column right-->
    <div id="mainDirectives" class="column2">
        <div id="matches">
        <h3>Match Library</h3>
        <p ng-repeat="match in matches" ng-click="tradeToggle('lg', match.username)">User: {{ match.username }} <br> Title: <span class="bookTitle">{{ match.title }}</span></p>    <!--Clicking on the username match will direct to the matchProfile-->
      </div>
    </div>
</div>
