<div id="home" ng-controller="homeController">
    <div id="main" class="column1">
      <h2>Available Books</h2>
      <h4>Popular Books</h4>
      <div id="mainBooks">
        <div id="mainBack"></div>
        <!-- <div class="mainBook" ng-repeat="">
          <img src="{{  }}"><cite class="mainTitle">{{ title }}</cite>
        </div> -->
      </div>

      <h4>More Titles</h4>
      <div id="mainList">   <!--fix this!-->
       <!--  <p ng-repeat="">{{ title }}</p> -->
      </div>
    </div>

    <div id="mainDirectives" class="column2">
      <button type="button" class="btn btn-lg" name="button" data-toggle="modal" data-target="#tradeForm">Trade Books</button>
      <!--this is the right hand column where our directives will load(Sign-in, sign-up, match feed)-->

      <div class="log-in"></div>
    </div>
</div>

<trade-form></trade-form>
