<div id="home">
    <h3 class="unmanagedMatches" ng-mouseover="mouseClass = 'highlight'" ng-mouseout="mouseClass = 'none'">Welcome back {{user}}, you have {{numberOfMatches}} unmanaged matches</h3>
    <!-- Column left -->
    <div id="main" class="column1">
      <h4>Popular Books</h4>
      <div id="mainBooks">
        <div id="mainBack"></div>
        <div class="mainBook" ng-repeat="book in popularBooks" ng-click="setSearch(book.title)">
          <img ng-src="{{ book.thumbnail }}"><cite class="mainTitle">{{ book.title }}</cite>
        </div>
      </div>
    </div>

<!--Column right-->
    <div id="mainDirectives" class="column2">
        <div id="matches" class="{{mouseClass}}">
        <h3>Match Library</h3>
        <p ng-repeat="match in matches" ng-click="tradeToggle('lg', match.username)">User: {{ match.username }} <br> Title: {{ match.title }}</p>    <!--Clicking on the username match will direct to the matchProfile-->
      </div>
    </div>
</div>
