<div id="login">
    <div class="loginCol1">
        <div class="loginP1">
            <h2>Do you like Books?</h2>
            <p>
                Deserunt ex officia, commodo ipsum tamen nam sunt.
                Appellat hic probant ab est duis irure amet cernantur.
                Mandaremus illum pariatur, senserit eu dolore fabulas.
                Velit ab proident ita veniam, ea do illum veniam dolor.
                Est quorum commodo, o sint laborum vidisse.
            </p>
        </div>
        <div class="loginP2">
            <h2>Trade your books with other Bibliophiles</h2>
            <p>
                Deserunt ex officia, commodo ipsum tamen nam sunt.
                Appellat hic probant ab est duis irure amet cernantur.
                Mandaremus illum pariatur, senserit eu dolore fabulas.
                Velit ab proident ita veniam, ea do illum veniam dolor.
                Est quorum commodo, o sint laborum vidisse.
            </p>
        </div>
        <p>
        </p>
    </div>
    <div class="loginCol2">
      <form class="loginForm" name="loginForm" ng-submit="logIn(logInUser)">
          <h2>Login</h2>
          <label><input type="text" name="username" value="Username" placeholder="Username" ng-model="logInUser.username"></label>
          <br>
          <label><input type="password" name="password" value="Password" placeholder="Password" ng-model="logInUser.password"></label>
          <br>
          <button type="submit" class="loginButton">Log in</button>
          <p ng-if="loginError">Incorrect username and/or password</p>
      </form>
        <p>
            Forgot Password?<br>
            Contact our <a>Dev Team.</a>
        </p>
      <br>
      <button class="signupButton" type="button" ng-click="signupToggle('lg')">Sign Up</button>

    </div>
</div>
