<h2>{{username}}</h2>
<button type="button" ng-click="">Request Trade</button>
<!--Headers for ng-repeated books I have and books I want-->
<div id="machProfileTable">
  <div class="row">
    <h3 class="column">Library</h3>
    <h3 class="column">Watchlist</h3>
  </div>
<!--Content of table-->
  <div class="row">
<!--Left column with my books to trade-->
    <div id="library" class="column">
     <!--  <div ng-repeat="book in myBooks">
        <img src="{{ book.thumbnail }}">
        <p><cite>{{ book.title }}</cite> <br> {{ book.author }}.</p>
      </div> -->
    </div>
<!---Right column with books I want-->
    <div id="watchlist" class="column">
      <!-- <div ng-repeat="book in wantedBooks">
        <img src="{{ book.thumbnail }}">
        <p><cite>{{ book.title }}</cite> <br> {{ book.author }}.</p>
      </div> -->
      </div>
  </div> <!--End row-->
</div><!--End table-->
