
<h2>{{username}}</h2>
<div id="myLibraryView">
<!--Left column with my books to trade-->

  <div class="pcol">
    <h3>Library</h3>
      <div class="books">
      <!-- <div ng-repeat="book in myBooks">
        <img src="{{ book.thumbnail }}">
        <p><cite>{{ book.title }}</cite> <br> {{ book.author }}.</p>
      </div> -->
      </div>
    <button type="button" ng-click="">Manage Books</button>
    </div>

<!---Right column with books I want-->
  <div class="pcol">
    <h3>Watchlist</h3>
    <div class="books">
      <!-- <div ng-repeat="book in wantedBooks">
        <img src="{{ book.thumbnail }}">
        <p><cite>{{ book.title }}</cite> <br> {{ book.author }}.</p>
      </div> -->
    </div>
    <button type="button" ng-click="">Manage Books</button>
  </div>
</div> <!--End myLibraryView-->

<div id="matches">
  <!--<p ng-repeat="">You have a match with <a href="{{}}">{{  }}! Book Title: {{  }}<p> -->

</div>
