
<h2>{{username}}</h2>
<div id="myLibraryView">
<!--Left column with my books to trade-->

  <div class="pcol">
    <h3>Library</h3>
      <div class="books">
          <div class="bookList" ng-repeat="book in myLibrary">
            <img ng-src="{{ book.thumbnailurl }}">
            <p><cite>{{ book.title }}</cite> <br> {{ book.author }}.</p>
            <input type="image" src="images/remove.png" alt="remove" class="remove" ng-click="deleteLibrary(book.id)">
          </div>
      </div>
    </div>
<!---Right column with books I want-->
  <div class="pcol">
    <h3>Watchlist</h3>
    <div class="books">
      <div class="bookList" ng-repeat="book in myWatchlist">
        <img ng-src="{{ book.thumbnailurl }}">
        <p><cite>{{ book.title }}</cite> <br> {{ book.author }}.</p>
        <input type="image" src="images/remove.png" alt="remove" class="remove" ng-click="deleteWatchlist(book.id)">
      </div>
    </div>
  </div>
</div> <!--End myLibraryView-->
