
    <div class="modal-content">
        <div class="modal-header">
<!--            Yours-->
            <div class="col1">
                <h3>Your Library</h3>
                <div>
                    <label>
                        <input type="checkbox">
                        {{ item.book }}{{ item.author }}
                    </label>
                </div>
                <div class="trade-box">
                    <h3>Trade</h3>
                    <p>{{ item.book }}{{ item.author }}</p>
                </div>
            </div>
<!--            Theirs-->
            <div class="col2">
                <h3>Their Library</h3>
                <div>
                    <label>
                        <input type="checkbox">
                        {{ item.book }}{{ item.author }}
                    </label>
                </div>
                <div class="trade-box">
                    <h3>Trade</h3>
                    <p>{{ item.book}}{{ item.author }}</p>
                </div>
            </div>
            <button type="submit">
        </div>
    </div>
