
  <h3 id="searchTitle">Search Results</h3>
  <div class="iconLegend">
      Add to Library <span class="glyphicon glyphicon-book"></span> |
      Add to Watchlist <span class="glyphicon glyphicon-heart"></span>
  </div>
  <div id="searchResults" ng-repeat="book in list" ng-mouseover="addBook = 'show'" ng-mouseout="addBook = 'none'">
    <div class="column1">
      <img ng-src="{{ book.thumbnail }}">
    </div>
    <div class="column2">
        <p class="mobileTitle"><cite>"{{ book.title }}"</cite></p>
        <p class="mobileAuthor">by {{ book.author }}</p>
        <p class="mobileDescription">{{ book.description }}</p>
    </div>

    <div class="column3"><span type="button" ng-click="addToLibrary(book); hideButton = 'hide'" class="glyphicon glyphicon-book {{addBook}}{{hideButton}}"></span>
  	<!--Add to watchlist --><br>
    <span type="button" ng-click="addToWatchlist(book); hideButton = 'hide'" class="glyphicon glyphicon-heart {{addBook}}{{hideButton}}"></span></div>

    <!--Link to module with list of users offering book, possible stretch goal -->
  </div>
