<div  id="tradeForm">
        <div id="trade box">
<!--            Yours-->
            <div class="col1">
                <h3>Your Library</h3>
                <div class="toTrade">
                    <p ng-repeat="item in userLibrary">{{ item.title }} - {{ item.author }}<button ng-click="addToUserTrade(item)">+</button></p>
                </div>
          <!-- Bottom left proposed trade box-->
                <div class="tradeBox">
                    <h3>Trade</h3>
                    <p ng-repeat="item in userTrade">{{ item.title }} - {{ item.author }}
                    <button ng-click="deleteFromUserTrade(item)" class="remove">-</button></p>
                </div>
            </div>
<!--            Theirs-->
            <div class="col2">
                <h3>Their Library</h3>
                <div class="toTrade">
                    <p ng-repeat="item in tradeUserLibrary">{{ item.title}} - {{ item.author }} <button ng-click="addToTradeUserTrade(item)">+</button></p>
                </div>
          <!-- Bottom right proposed trade box -->
                <div class="tradeBox">
                    <h3>Trade</h3>
                    <p ng-repeat="item in tradeUserTrade" class="remove">{{ item.title}} - {{ item.author }} <button ng-click="deleteFromTradeUserTrade(item)">-</button></p>
                </div>
            </div>

            <button type="button" ng-click="proposeTrade()" class="tradeButton">Propose Trade</button>
        </div>
</div>
