<div  id="tradeForm">
        <div id="trade box">
<!--            Yours-->
            <div class="col1">
                <h3>Your Library</h3>
                <div class="toTrade">
                    <label>
                        <input type="checkbox">
                        {{ item.book }}{{ item.author }}
                    </label>
                </div>
                <div class="trade-box">
                    <h3>Trade</h3>
                    <p>{{ item.book }}{{ item.author }}</p>
                </div>
            </div>
<!--            Theirs-->
            <div class="col2">
                <h3>Their Library</h3>
                <div class="toTrade">
                    <label>
                        <input type="checkbox">
                        {{ item.book }}{{ item.author }}
                    </label>
                </div>
                <div class="trade-box">
                    <h3>Trade</h3>
                    <p>{{ item.book}}{{ item.author }}</p>
                </div>
            </div>
            <button type="submit">Propose Trade</button>
        </div>
</div>
