@media screen and (max-width: 800px) {

    body {
      text-align: center;
    }

    .header{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        padding-bottom: 0px;
    }

    .b1, .b2{
        font-size: 70px;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
    }

    .appTitle{
        margin: 10px 0 0 0;
        border: none;
        background-color: transparent;
        display: block;
        width: 100%;
    }

    .layer {
      background-color: rgba(255, 255, 255, 0.4);
      height: 100%;
      width: 100%;
    }

    .rightSide{
      float: none;
    }

    .searchDiv{
        margin: 0 auto;
        float: none;
    }

    .input{
        text-align: center;
    }

    .right-inner-addon {
      width: 100%
    }

    .right-inner-addon i {
      position: absolute;
      right: 80px;
      top: 30px;
      z-index: 900;
    }

    /*----------------home page styling-----------------*/

    #mainBack, #mainList, .moreTitles{
        display: none;
    }

    #home {
        height: auto;
        position: relative;
        overflow-x: hidden;
    }

    #unmanagedMatches{
      background-color: #51A754;
      color: black;
      padding: 10px;
      margin-top: 0px;
    }

    #home h4 {
        text-align: center;
    }

    .column1, .column2 {
        border: none;
    }

    #home .column1 {
        position: static;
        min-width: 200px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        vertical-align: super;
        border-right: none;
    }

    #home .column2 {
        display: block;
        min-width: 200px;
        width: 100%;
        margin: 0 auto;
        vertical-align: sub;
        float: top;
        border: none;
        margin-top: 0px;
    }

    #mainBooks img{
        height: 120px;
        display: inline-block;
    }

    #mainBooks{
      height: auto;
      height: 170px;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      border: none;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
    }


     #mainBooks::-webkit-scrollbar {
       display: none;
     }

    .mainBook {
        display: inline-block;
        width: 100px;
        margin: 0 20px 0 0;
    }

    #matches {
      margin-top: 20px;
      display: inline-block;
      width: 80%;
    }

    /*----------------profile view-----------------*/

    .pcol {
        width: 100%;
        height: 230px;
        min-height: 230px;
        margin: 0;
        padding: 8px 0px;
    }

    .pcol:nth-child(1){
        width: 100%;
        border-radius: 0;
        padding-right: 0;
        margin-right: 0;
        margin: 0 auto;
    }

    .books{
      height: auto;
      height: 180px;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      border: none;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
    }

     .books::-webkit-scrollbar {
       display: none;
     }

     .books p {
       font-size: 80%;
       text-align: center;
       width: 115px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       vertical-align: middle;
       margin: 0 auto;
       padding-top: 3px;
     }

     .books cite {
       font-style: normal;
       font-weight: bold;
     }

     .bookList {
       width: 100px;
     }

     .bookList img {
       height: 100px;
     }


    /*----------------search results-----------------*/

    #searchTitle {
      margin-bottom: 10px;
    }

    #searchResults .column1 {
      margin-top: 15px;
      margin-bottom: 0px;
    }

    #searchResults .column2 {
        text-align: center;
        width: 90%;
        height: auto;
        display: block;
        overflow: hidden;
        border-bottom: solid 2px silver;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #searchResults .column3 {
      left: 41.5%;
      top:
    }

                  /* ------- modals --------- */

    #tradeForm{
      width: 350px;
      left: 50%;
      margin-left: -175px;
    }

    #tradeForm .col1, #tradeForm .col2 {
      width: 90%;
      height: auto;
      overflow: auto;
    }

    #tradeForm .col2{
      margin-left: auto;
    }

    #tradeForm .col1{
      margin-right: auto;
    }

    .toTrade {
      margin: 20px;
      height: auto;
      overflow: auto;
    }

    .tradeBox{
      height: auto;
      overflow: auto;
    }

}


