@media screen and (max-width: 480px) {

    body {
      text-align: center;
    }

    .header{
        width: 100%;
        height: 250px;
        display: block;
        position: relative;
    }

    .b1, .b2{
        font-size: 70px;
        text-align: center;
        margin: 0 auto;
        display: inline-block;
    }

    .appTitle{
        margin: 10px 0 0 0;
    }

    #profileLink{
      float: top;
      position: static;
    }

    #profileLink p {
      position: static;
      color: #51A754;
      font-size: 120%;
    }

    .layer {
      background-color: rgba(255, 255, 255, 0.4);
      height: 100%;
      width: 100%;
    }

    .search{
        margin: 0 auto;
        width: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .searchForm{
        text-align: center;
    }


    /*----------------home page styling-----------------*/

    #mainBack, #mainList, .moreTitles{
        display: none;
    }

    #home {
        height: auto;
        position: relative;
        overflow-x: hidden;
    }

    #unmanagedMatches{
      background-color: #51A754;
      color: black;
      padding: 10px;
      margin-top: 0px;
    }

    #home h4 {
        text-align: center;
    }

    .column1, .column2 {
        border: none;
    }

    #home .column1 {
        position: static;
        min-width: 200px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        vertical-align: super;
        border-right: none;
    }

    #home .column2 {
        display: block;
        min-width: 200px;
        width: 100%;
        margin: 0 auto;
        vertical-align: sub;
        float: top;
        border: none;
    }

    #mainBooks img{
        height: 120px;
        display: inline-block;
    }

    #mainBooks{
      height: auto;
      height: 170px;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      border: none;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
    }


     #mainBooks::-webkit-scrollbar {
       display: none;
     }

    .mainBook {
        display: inline-block;
        width: 100px;
        margin: 0 20px 0 0;
    }


    /*----------------profile view-----------------*/

    .pcol {
        width: 100%;
        height: 230px;
        min-height: 230px;
        margin: 0;
        padding: 8px 0px;
    }

    .pcol:nth-child(1){
        width: 100%;
        border-radius: 0;
        padding-right: 0;
        margin-right: 0;
        margin: 0 auto;
    }

    .books{
      height: auto;
      height: 180px;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      border: none;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
    }

     .books::-webkit-scrollbar {
       display: none;
     }

     .books p {
       font-size: 80%;
       text-align: center;
       width: 115px;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
       vertical-align: middle;
       margin: 0 auto;
       padding-top: 3px;
     }

     .books cite {
       font-style: normal;
       font-weight: bold;
     }

     .bookList {
       width: 100px;
     }

     .bookList img {
       height: 100px;
     }


    /*----------------search results-----------------*/

    .column2 {
        text-align: center;
        width: auto;
        display: block;
    }

    .mobileTitle{
        display: block;
    }

}
