/*.modal.ng-hide{
   opacity:0;
}*/
.modal{
    /*transition: all linear 1s;
    opacity:1;*/
    background-color: white;

    display: block;

}

.modal-open .modal{
  background-color: transparent;
}
