/*-----------trade view------------*/
.modal-header{
  border: none;
}
#tradeForm button {

  margin: 0 auto;
  margin-top: 5px;
  border-radius: 2px;
  background-color: white;
  border: 2px solid #f2de72;
}


#tradeForm button:hover {
  background-color: #f2de72;
}

#tradeForm{
  text-align: center;
  margin-top: 10px;
  margin: 0 auto;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  background-color: #363030;
  border: 1px solid #f2de72;
}

#tradeForm .col1, #tradeForm .col2 {
  width: 45%;
  height: 450px;
  border: 1px solid grey;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
}

#tradeForm .col2{
  margin-left: 15px;
}

#tradeForm .col1{
  margin-right: 15px;
}



.toTrade {
  margin: 20px;
  padding-left: 8%;
  height: 220px;
  overflow: scroll;
  text-align: left;
}

h3 {
  text-align: center;
}

.tradeBox{
  border-top: 1px solid grey;
  height: 150px;
  padding-top: 10px;
  overflow: auto;
  text-align: left;
  margin: 20px;
  padding-left: 8%;
}

.tradeBox button {
  background-color: red;
}

.toTrade button {
  display: inline-block;
}

.tradeButton{
  display: block;
  margin-left: 0 auto;
  margin-top: 5px;
  float: bottom;
}

.modal-lg {
  width: 100%;
}

.modal{
  transition: all linear .03s;
  opacity:1;
}


.modal-open .modal{
  background-color: transparent;
}

.authorIndent{
    margin-left: 35px;
}


/*--------login modal--------*/

#signupFormDiv{
  text-align: center;
  margin-top: 10px;
  margin: 0 auto;
  /*width: 800px;*/
  left: 50%;
  /*margin-left: -400px;*/
  background-color: #363030;
  border-radius: 5px;
  border: 1px solid #f2de72;
  color: white;
  font-size: 18px;

}

#signup {
  text-align: left;
  padding: 20px;
  width: auto;
  margin: 10px;
  /*background-color: rgba(255, 255, 255, 0.7);*/

}

.signupInput {
  padding-left: 25%;
}

#create {
  display: inline-block;
  margin-left: 0 auto;
  margin-top: 5px;
  border-radius: 2px;
  border: 2px solid #f2de72;
  background-color: white;
  color: black;
}

#create:hover {
  background-color: #f2de72;
}

.cancel {
  display: inline-block;
  margin-left: 0 auto;
  margin-top: 5px;
  border-radius: 2px;
  border: 2px solid #f2de72;
  background-color: white;
  color: black;
}

.cancel:hover {
  background-color: #f2de72;
}


/*---------confirmation modal-------*/

.confirmContainer {
  width: 250px;
  height: 100px;
  margin: auto;
  background-color: #363030;
  border-radius: 5px;
  border: 1px solid #f2de72;
  color: white;
  font-size: 18px;
}

.closeButt {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 2px;
  border: 2px solid #f2de72;
  background-color: white;
  color: black;
}

.closeButt button:hover {
  background-color: #f2de72;
}

.modal-content {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
}

.confirmMessage {
  padding-top: 20px;
  text-align: center;
}
