@font-face {
    font-family: baduy;
    src: url(baduy/BADUY.otf);
}

*{
    font-family: 'Oswald', sans-serif;
}

body {
  background-color: #d3d7d2;
}

h2, h3, h4, p, cite, span {
  margin-top: 0px;
  cursor: default;
}

h1, h2, h3, h4 {
    font-family: 'Amiri', serif;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.header {
  background-image: url("images/bookbg.jpg");
  background-size: cover cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  background-size: cover;
}

.header a:hover {
  text-decoration: none;
  cursor: pointer important!;
}

.header a:focus {
  text-decoration: none;
}

.appTitle {
  float: left;
  display: inline;
  margin: 30px 0 0 30px;
  text-shadow: 5px 5px 30px rgb(46, 40, 46);
  background-color: rgba(255, 255, 255, 0.3);
  /*position: absolute;*/
  padding: 10px 10px 20px ;
  border-radius: 10px 10px 0 0;
  border: solid white 2px;
}

.b1{
  display: inline;
  font-family: baduy;
  font-size: 120px;
  color: #26bc2c;
}

.b2{
  display: inline;
  font-family: baduy;
  font-size: 120px;
  color: rgb(49, 45, 45);
}

.bookTitle{
    font-size: 16px;
    font-weight: bold;
}

/*---------------------login---------*/

.loginCol1, .loginCol2{
    display: inline-block;
    width: 38%;
}

.loginCol2{
    text-align: center;
    margin: 0 auto;
    vertical-align: top;
    margin: 50px; 0 0 0;
}

.loginP1, .loginP2{
    min-width: 48%;
    margin: 0 auto;
    padding: 20px;
    margin-left: 30px;
}

.loginP1{
    margin: 30px; 0 0 0;
}

/*---------------------home screen search---------*/
.search {
  float: right;
  display: inline;
  margin-top: 30px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px 40px;
  border-radius: 10px;
  border: solid white 1px;
}

.search .glyphicon{
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

button {
  background-color: #51A754;
  border-radius: 10px;
  padding: 2px 7px;
}

.input {
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 8px;
}

/*----------------home page styling-----------------*/
#home {
  display: inline-block;
  width: 100%;
  margin: 0px;
  background-color: #d3d7d2;
}

#home h2:nth-child(1){
    font-size: 40px !important;
    margin: 10px 0 0 0;
}

.unmanagedMatches{
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #342e2e;
  width: 100%;
  box-shadow: 5px 5px 30px rgba(56, 40, 56, 0.4);
  color: #e1ffe2;
  z-index: 100;
}

#home h4 {
  width: 100%;
  box-shadow: 5px 5px 30px rgba(56, 40, 56, 0.4);
  font-size: 200%;
}

#home .column1 {
  width: 67%;
  min-width: 500px;
  height: 400px;
  margin: 10px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  border-right: 3px solid #bb9995;
}

#home .column2 {
  width: 28%;
  min-width: 200px;
  height: 400px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid lightgrey;
  background-image: url("images/books.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .column2 .bookTitle{
    color: #51A754;
}

#mainBooks {
  width: 100%;
  height: 200px;
}

#matches {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

#matches h3 {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid grey;
  padding-bottom: 3px;
}

#matches p{
  cursor: pointer;
  padding-left: 5px;
  margin: 8px;
  border-bottom: 1px dotted black;
}

#matches p:hover {
  color: #51A754;
  font-weight: bold;
}


.highlight {
  background-color: white !important;
  /*transform: scale(1.1);*/
}

#mainList {
  width: 100%;
  height: 85px;
}

#mainBack {
  background-color: #a1978e;
  width: 95%;
  height: 60%;
  margin-left: -30px;
  border-radius: 15px;
  margin-top: 0px;
  z-index: 5;
  box-shadow: 5px 5px 30px rgba(56, 40, 56, 0.4);
}

.mainBook {
    display: inline-block;
    vertical-align: top;
    margin: -90px 40px 0 0;
    z-index: 5;
    cursor: pointer;
}

.mainBook img{
    height: 180px;
    margin-bottom: 6px;
    transition: all .2s ease-in-out;
    box-shadow: 5px 5px 30px rgba(56, 40, 56, 0.4);
}

.mainBook img:hover{
    transform: scale(1.1);
}

.mainTitle{
    display: block;
    width: 90px;
    text-align: center;
    margin: 0 auto;
    height: 45px;
    overflow: hidden;
    font-weight: bold;
    line-height: 14px;
}

.moreTitles{
    margin: 70px 0 0 0;
}

.mainBook cite:after {
    content: '...';
}

/*--------------profile view--------*/
#myLibraryView {
    height:100%;
    width: 100%;
    margin: 0;
}

#profile h2{
    margin: 10px 0 0 0;
    font-size: 40px !important;
}

#profile a {
  color: black;
}

.unmanagedMatches:hover {
  cursor: pointer;
}

.pcol {
    display: inline-block;
    min-height: 350px;
    height: auto;
    width: 49%;
    min-width: 300px;
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    padding-top: 0px;
    text-align: center;
}

.pcol:nth-child(1){
    background-color: #a1978e;
    border-radius: 0 20px 20px 0;
    margin-left: -20px;
    box-shadow: 5px 5px 30px rgba(56, 40, 56, 0.4);
}

.books {
    width: 100%;
    display: inline-block;
}

.books img{
    height: 120px;
}

.bookList{
    display: inline-block;
    margin: 10px 0 30px 0;
    padding: 10px;
    vertical-align: top;
    height: 200px;
    position: relative;
}

.bookList p{
    margin: 0;
    width: 120px;
    min-height: 80px;
    text-align: center;
    margin-left: 12px;
    max-width: 80%;
}

.bookList .remove {
    display: none;
    margin 0 0 0 0;
    position: absolute;
    top: 7px;
    left: 53%;
    width: 40px;
}

.bookList:hover .remove {
    display: inline-block;
}


/*              search results page       */

#searchTitle{
  margin: 20px 0 0 20px;
  font-size: 150%;
}

.mobileTitle {
  font-size: 120%;
  margin-top: 5px;
}

#searchResults {
  padding-left: 20px;
  position: relative;
}

#searchResults .column1 {
  margin: 10px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

#searchResults .column2 {
  display: inline-block;
  width: auto;
  max-width: 1100px;
  padding-top: 15px;
  overflow: hidden;
}

#searchResults .column3 {
  display: inline-block;
  /*vertical-align: top;*/
  position: absolute;
  left: 20px;
  top: 30%;
}

#searchResults button {
  width: 120px;
  padding: 3px;
  margin: 0px;
  visibility: hidden;
}

.show {
  visibility: visible !important;
}


/*-----------trade view------------*/

#tradeForm button {

  margin: 0 auto;
  margin-top: 5px;
}

#tradeForm{
  text-align: center;
  margin-top: 10px;
  margin: 0 auto;
}

#tradeForm .col1, .col2 {
  width: 45%;
  min-width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
}

.toTrade {
  margin: 20px;
  padding-left: 8%;
  height: 220px;
  overflow: auto;
  text-align: left;
}

.tradeBox{
  border-top: 1px solid grey;
  padding-top: 10px;
}

.tradeBox button {
  background-color: red;
}

.toTrade button {
  display: inline-block;
}

.tradeButton{
  display: block;
  margin-left: 0 auto;
  margin-top: 5px;
  float: bottom;
}
