@font-face {
    font-family: baduy;
    src: url(baduy/BADUY.otf);
}

h3 {
  margin-top: 0px !important;
}

.header {
  background-image: url("images/bookbg.jpg");
  background-size: cover cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  background-size: cover;
}

.header a:hover {
  text-decoration: none;
}

.header a:focus {
  text-decoration: none;
}

.appTitle {
  float: left;
  display: inline;
  margin-top: 55px;
  margin-left: 30px;
}

.b1{
  display: inline;
  font-family: baduy;
  font-size: 90px;
  color: 	rgb(105,105,105);
}

.b2{
  display: inline;
  font-family: baduy;
  font-size: 90px;
  color: #51A754;
}

#profileLink {
  position: absolute;
  top: 80px;
  left: 60%;
  color: white;
}
/*---------------------home screen search---------*/
.search {
  float: right;
  display: inline;
  margin-top: 30px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px 40px;
  border-radius: 10px;
  border: solid white 1px;
}

button {
  background-color: #51A754;
  border-radius: 10px;
  padding: 2px 7px;
}

button:focus {
  outline: none;
}

.input {
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 8px;
}

.input:focus {
  outline: none;
}

 .searchForm label {
  margin-right: 7px;
  margin-left: 4px;
  margin-bottom: 5px;
}

/*----------------home page styling-----------------*/
#home {
  display: inline-block;
  width: 100%;
  margin: 0px;
  background-color: #f3f1ef;
}

#home h2 {
  color: #48a858;
  font-family: serif;
  font-weight: bold;
}

#home h4 {
  font-family: serif;
  font-weight: bold;
}

#home .column1 {
  width: 67%;
  min-width: 500px;
  height: 420px;
  margin: 10px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  border-right: 3px solid grey;
}

#home .column2 {
  width: 28%;
  min-width: 200px;
  height: 420px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  border: 2px solid lightgrey;
}

#mainBooks{
  width: 100%;
  height: 200px;
  border: 1px solid lightgrey;
}

#mainList {
  width: 100%;
  height: 85px;
  border: 1px solid lightgrey;
}

#mainBack {
  background-color: #a1978e;
  width: 95%;
  height: 60%;
  margin-left: -30px;
  border-radius: 15px;
  margin-top: 0px;
  z-index: 5;
}

.mainBook {
    display: inline-block;
    vertical-align: top;
    margin: -90px 40px 0 0;
    z-index: 5;
}

.mainBook img{
    height: 180px;
}

.mainTitle{
    display: block;
    width: 90px;
    text-align: center;
    margin: 0 auto;
    height: 42px;
/*    text-overflow: ellipsis;*/
    overflow: hidden;
/*    white-space: nowrap;*/
    font-weight: bold;
    line-height: 14px;
}

.moreTitles{
    margin: 70px 0 0 0;
}

.mainBook cite:after {
    content: '...';
}
/*--------------profile view--------*/

.myLibraryView {
    height:420px;
    width: 100%;
}

.pcol {
  display: inline-block;
  min-height: 350px;
  width: 49%;
  min-width: 300px;
  vertical-align: top;
  margin: 5px;
  padding: 10px;
  padding-top: -20px;
  border: 1px solid lightgrey;
  text-align: center;
}
l
.books {
  height: 260px;
  border: 1px solid pink;
  width: 100%;
}

#myLibraryView button {
  margin-top: 5px;
}

/*<!--                search results page  -->*/
#searchTitle{
  margin: 20px 0 0 20px;
  font-size: 130%;
}

#searchResults {
  padding-left: 20px;
}

.column1 {
  margin: 10px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.column2 {
  display: inline-block;
  width: 800px;
  padding-top: 15px;
}

.column3 {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;

}

#searchResults button {
  width: 120px;
  padding: 3px;
  margin: 10px;
}
